{% extends "base.html" %}

{% block content %}
    <div class="container" style="position: relative; left: 25%;">
        
        <form action="{% url 'login' %} " class='m-5' method="POST">{% csrf_token %}
            
            {% if message_fail %}
                <div >
                    <label style="color: crimson;" for="">{{message_fail}}</label>
                    
                </div>
            {% endif %}
            <label for="">Enter Username</label><br>
            <input class="rounded" type="text" name="username" id="username"><br>
            <br>
            <label for="">Password</label><br>
            <input class="rounded" type="password" name="password" id="password">
            <br>
            <button class="bg-info text-white rounded mt-3">Submit</button><br>
            <br>
            <div >
                No account yet? <a href="{% url 'register'%}">Sign In</a>
            </div>
        </form>
    </div>


{% endblock  %}

